.places__like {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/like.jpg");
}

.places__like:hover {
  opacity: 0.6;
  transition: opasity 0.5s;
}

.places__like::after {
  background-image: url("../../../images/like-active.jpg");
}
