.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 30px 36px 0 36px;
  padding-bottom: 13px;
  border-bottom: 1px outset;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 900px) {
  .form__description {
    margin: 30px 22px 0 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
