.form__close {
  position: absolute;
  background-image: url(/images/close.png);
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  .form__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}

.form__close:hover {
  opacity: 0.6;
  transition: opasity 0.5s;
}
